Configuration(
    files: {
        "../README.md":  (
            for_docs: false,
            sections: [
                "header.md",
                "docs.md",
                "https://github.com/khonsulabs/.github/raw/main/snippets/readme-footer.md",
            ],
        ),
        "../src/.crate-docs.md": (
            for_docs: true,
            sections: [
                "docs.md",
                "https://github.com/khonsulabs/.github/raw/main/snippets/readme-footer.md",
            ],
        ),
        "../CONTRIBUTING.md":  [
            "https://github.com/khonsulabs/.github/raw/main/docs/CONTRIBUTING.md",
        ],
        "../CODE_OF_CONDUCT.md":  [
            "https://github.com/khonsulabs/.github/raw/main/docs/CODE_OF_CONDUCT.md",
        ],
        "../LICENSE-APACHE":  [
            "https://github.com/khonsulabs/.github/raw/main/licenses/LICENSE-APACHE",
        ],
        "../LICENSE-MIT":  [
            "https://github.com/khonsulabs/.github/raw/main/licenses/LICENSE-MIT",
        ],
    },
    glossaries: [
        "https://github.com/khonsulabs/.github/raw/main/snippets/glossary.ron",
        {
            "msrv": "1.65",
            "ref-name": (
                default: "main",
                release: "v0.1.1",
            ),
            "docs": (
                default: "https://khonsulabs.github.io/easing-function/main/easing_function/",
                release: "https://docs.rs/easing-function/",
            ),
            "easing": (
                default: "https://khonsulabs.github.io/easing-function/main/easing_function/trait.Easing.html",
                release: "https://docs.rs/easing-function/*/easing_function/trait.Easing.html",
                for_docs: "crate::Easing",
            ),
            "easingfunction": (
                default: "https://khonsulabs.github.io/easing-function/main/easing_function/struct.EasingFunction.html",
                release: "https://docs.rs/easing-function/*/easing_function/struct.EasingFunction.html",
                for_docs: "crate::EasingFunction",
            ),
            "standard": (
                default: "https://khonsulabs.github.io/easing-function/main/easing_function/easings/enum.StandardEasing.html",
                release: "https://docs.rs/easing-function/*/easing_function/easings/enum.StandardEasing.html",
                for_docs: "crate::easings::StandardEasing",
            ),
            "sine": (
                default: "https://khonsulabs.github.io/easing-function/main/easing_function/easings/struct.EaseInOutSine.html",
                release: "https://docs.rs/easing-function/*/easing_function/easings/struct.EaseInOutSine.html",
                for_docs: "crate::easings::EaseInOutSine",
            ),
        },
    ],
)